.btnsDiv{
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 12px 0px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.checkBox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
}

.editANDdel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btns{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #CCDBDC;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btns:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.card{
  display: flex;
  width: 90vw;
  height: fit-content;
  font-size: 18px;
  border-radius: 5px;
  padding: 16px 4px;
  align-self: center;
  background-color: #616580;
  color: #CCDBDC;
}

.textArea {
  display: block;
  width: 100%;
  min-height: 1rem;
  max-height: 10rem;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #576490;
  color: #CCDBDC;
  resize: vertical;
  transition: box-shadow 0.3s, transform 30ms;
}

.textArea::placeholder {
  color: #CCDBDC;
}

.textArea:focus{
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.newInput {
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: #576490;
  color: #CCDBDC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s, transform 30ms;
}

.newInput:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}

.newInput::placeholder {
  color: #CCDBDC;
}
