.screen{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.title{
  display: flex;
  width: 100vw;
  height: fit-content;
  font-size: 36px;
  margin-top: 12px;
  color: #CCDBDC;
  justify-content: center;
}

.boxBtn{
  display: flex;
  width: 90vw;
  height: fit-content;
  padding: 12px 0px;
  margin-bottom: 12px;
  justify-content: start;
  align-self: center;
}

.add{
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #CCDBDC;
  background-color: #0b6e00;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.add:disabled {
  pointer-events: none;
}

.add:hover {
  background-color: #00aa00;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.add:active {
  box-shadow: none;
  transform: translateY(0);
}